@{
    ViewBag.Title = "Home Page";
}

<!--Page Content-->
<div class="page-content">

    @RenderPage("/Views/Shared/_MasterSlider.cshtml")

    @RenderPage("/Views/Shared/_BrowseCategories.cshtml")

    @RenderPage("/Views/Shared/_CatalogPicks.cshtml")

    @RenderPage("/Views/Shared/_BestsellingItems.cshtml")

    @RenderPage("/Views/Shared/_Galery.cshtml")

    @RenderPage("/Views/Shared/_Brands.cshtml")

</div><!--Page Content Close-->
